<div class="container-lg px-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 px-5 px-sm-0 m-4">
      <form onsubmit="return false;">
        <h3>マップ検索</h3>
        <% if @map.errors.any? %>
          <%= @map.errors.count %>件のエラーが発生しました
          <ul>
            <% @map.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <input type="text" placeholder="国名、地名" id="address">
        <button type="button" value="検索" id="map_button">検索</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 px-1 px-sm-0 m-2" >
      <div id='map'></div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5 px-1 px-sm-0 m-2 border rounded-derk">
      <div>
        <%= form_with model: @map, url: information_path, data: { confirm: "【確認】内容を変更しますか?" } do |f| %>
          <%= f.hidden_field :latitude, id: 'lat' %>
          <%= f.hidden_field :longitude, id: 'lng' %>
          <div>
            <h3>タイトル</h3>
            <div class="m-2">
              <%= f.text_field :title, style: "width:100%" %>
            </div>
          </div>
            <h3>内容</h3>
          <div class="m-2">
            <%= f.text_area :body, style: "width:100%; height:325px" %>
          </div>
          <div class="text-right">
            <%= f.submit "編集する",class:"btn btn-outline-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-lg-4 text-center">
      <%= link_to informations_path,  data: { 'turbolinks': false } do %>
        <p class="btn btn-outline-info">
          投稿一覧
        </p>
      <% end %>
    </div>
  </div>
</div>

<style>
  #map {
    height: 500px;
    width: 100%;
  }
</style>

<%= render 'form_map' %>