
<div id='map'></div>

<style>
    #map {
        height: 500px;
        width: 500px;
    }
</style>

<script>
    let map


    function initMap() {
        const geocoder = new google.maps.Geocoder()

        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 35.001637,
                lng: 135.767667
            },
            zoom: 15,
        });
        map.addListener( 'click', function(event) {
          placeMarker(event.latLng);
        });
        let marker
    function placeMarker(location) {

      if ( marker ) {
        marker.setPosition(location);
      } else {
        marker = new google.maps.Marker({
          position: location,
          map: map
        });
      }
      document.getElementById('lat').value = location.lat();
      document.getElementById('lng').value = location.lng();
      map.panTo(location);
    }
     }

</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap"
    async defer>
</script>
<div>
<%= form_with model: @map, url: informations_path do |f| %>
    <%= f.hidden_field :latitude, id: 'lat' %>
    <%= f.hidden_field :longitude, id: 'lng' %>
    <div>
      <%= f.label :title, "タイトル:" %>
      <%= f.text_field :title, size:"30" %>
    </div>
    <div>
      <%= f.label :body, "内容" %>
      <%= f.text_area :body, size:"50x20" %>
    </div>

    <%= f.submit "投稿する" %>
<% end %>
</div>
