<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>TripscaryPalce</title>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <link href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <%= link_to  root_path, class:"navbar-brand" do %>
           <p class="p-1 border rounded bg-warning text-dark">
             <i class="fab fa-forumbee"></i>
             Tripscary_Palce
             </p>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown" style>
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>

                 <li>
                  <%= link_to new_information_path, class:"nav-link text-light", data: { 'turbolinks': false } do %>
                  <span class="fa-w-20">
                  <i class="fas fa-plus-circle"></i>
                  新規投稿
                  </span>
                  <% end %>
                </li>

                <li>
                  <%= link_to my_page_path(current_user), class:"nav-link text-light",data: { 'turbolinks': false } do %>
                  <span class="fa-w-18">
                  <i class="fas fa-address-book"></i>
                  マイページ
                  </span>
                  <% end %>
                </li>

                <li>
                  <%= link_to informations_path, class:"nav-link text-light", data: { 'turbolinks': false } do %>
                  <span class="fa-w-18">
                  <i class="fas fa-map-marker-alt"></i>
                  投稿一覧
                  </span>
                  <% end %>
                </li>

                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do %>
                  <span class="fa-w-16">
                  <i class="fas fa-sign-out-alt"></i>
                  ログアウト
                  </span>
                  <% end %>
                </li>

              <% else %>

                <li>
                  <%= link_to root_path, class:"nav-link text-light" do %>
                  <span class="fa-w-18">
                  <i class="fas fa-home"></i>
                  TOP
                  </span>
                  <% end %>
                </li>

                <li>
                  <%= link_to guest_path, class:"nav-link text-light", data: { 'turbolinks': false } do %>
                  <span class="fa-w-16">
                  <i class="fas fa-map-marker-alt"></i>
                  投稿一覧
                  </span>
                  <% end %>
                </li>

                <li>
                  <%= link_to new_user_registration_path, class:"nav-link text-light" do %>
                  <span class="fa-w-16">
                  <i class="fas fa-user-plus"></i>
                  新規登録
                  </span>
                  <% end %>
                </li>

                <li>
                  <%= link_to new_user_session_path, class:"nav-link text-light" do %>
                  <span class="fa-w-20">
                  <i class="fas fa-sign-in-alt"></i>
                  ログイン
                  </span>
                  <% end %>
                </li>

              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>